{% extends 'base.html.twig' %}

{% block title %}LDO - Modification de profile
{% endblock %}

{% block body %}
	<div class="container text-light">

		<h1 class="text-center m-5">
			<i class="far fa-address-card"></i>
			Modification de profile</h1>
		{{ form_start(form) }}
		<div class="row">
			<div class="col">
				{{ form_row(form.pseudo) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.discordid) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.GearScore) }}
			</div>
			<div class="col">
				{{ form_row(form.level) }}
			</div>
			<div class="col">
				{{ form_row(form.compagnie) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.spe) }}
			</div>
			<div class="col">
				{{ form_row(form.FirstWeapon) }}
			</div>
			<div class="col">
				{{ form_row(form.SecondWeapon) }}
			</div>
		</div>
		<h2 class="text-center m-5"><i class="fas fa-pencil-ruler"></i> Crafting</h2>
		<div class="row">
			<div class="col">
				{{ form_row(form.FabArmes) }}
			</div>
			<div class="col">
				{{ form_row(form.FabArmures) }}
			</div>
			<div class="col">
				{{ form_row(form.Ingenierie) }}
			</div>
			<div class="col">
				{{ form_row(form.Joaillerie) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.ArtsObscurs) }}
			</div>
			<div class="col">
				{{ form_row(form.Cuisine) }}
			</div>
			<div class="col">
				{{ form_row(form.Ameublement) }}
			</div>
			<div class="col">
				{{ form_row(form.TailleurDePierre) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.fonderie) }}
			</div>
			<div class="col">
				{{ form_row(form.menuiserie) }}
			</div>
			<div class="col">
				{{ form_row(form.tannerie) }}
			</div>
			<div class="col">
				{{ form_row(form.tissage) }}
			</div>
		</div>
			<h2 class="text-center m-5"><i class="fas fa-box"></i> Armes</h2>
		<div class="row">

			<div class="col">
				{{ form_row(form.SwordShield) }}
			</div>
			<div class="col">
				{{ form_row(form.Lance) }}
			</div>
			<div class="col">
				{{ form_row(form.Arc) }}
			</div>
			<div class="col">
				{{ form_row(form.BatonFeu) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.Rapiere) }}
			</div>
			<div class="col">
				{{ form_row(form.HacheDouble) }}
			</div>
			<div class="col">
				{{ form_row(form.Mousquet) }}
			</div>
			<div class="col">
				{{ form_row(form.BatonVie) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(form.Hachette) }}
			</div>
			<div class="col">
				{{ form_row(form.MarteauDarmes) }}
			</div>
			<div class="col">
				{{ form_row(form.GanteletsGlace) }}
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<button type="submit" class="btn btn-primary btn-lg text-center">Enregistrer</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>{% endblock %}
