{% extends 'base.html.twig' %}

{% block title %}Leveling Métiers{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="row">

<div class="card bg-dark m-5" style="width: 11rem;" >
  <a href="{{ path('craftweapons') }}" class="text-decoration-none">
  <img class="card-img-top" src="{{ asset('assets/metier/craftweapons.png') }}" alt="Card image cap">
   </a>
  <div class="card-body">
    <p class="card-text text-light text-center">Fabrication d'armes</p>
  </div>

</div>
<div class="card bg-dark m-5" style="width: 11rem;">
<a href="{{ path('craftarmor') }}" class="text-decoration-none">
  <img class="card-img-top" src="{{ asset('assets/metier/armoring.png') }}" alt="Card image cap">
</a>
  <div class="card-body">
    <p class="card-text text-light text-center">Fabrication d'armures</p>
  </div>
</div>
<div class="card bg-dark m-5" style="width: 11rem;">
<a href="{{ path('craftengineering') }}" class="text-decoration-none">
  <img class="card-img-top" src="{{ asset('assets/metier/engineering.png') }}" alt="Card image cap">
</a>
  <div class="card-body">
    <p class="card-text text-light text-center">Ingénierie</p>
  </div>
</div>

<div class="card bg-dark m-5" style="width: 11rem;">
<a href="{{ path('craftjewel') }}" class="text-decoration-none">
  <img class="card-img-top" src="{{ asset('assets/metier/jewelcrafting.png') }}" alt="Card image cap">
</a>
  <div class="card-body">
    <p class="card-text text-light text-center">Joaillerie</p>
  </div>

</div>
<div class="card bg-dark m-5" style="width: 11rem;">
<a href="{{ path('craftarcana') }}" class="text-decoration-none">
  <img class="card-img-top" src="{{ asset('assets/metier/arcane.png') }}" alt="Card image cap">
</a>
  <div class="card-body">
    <p class="card-text text-light text-center">Arts obscurs</p>
  </div>
</div>
<div class="card bg-dark m-5" style="width: 11rem;">
<a href="{{ path('craftcooking') }}" class="text-decoration-none">
  <img class="card-img-top" src="{{ asset('assets/metier/cooking.png') }}" alt="Card image cap">
</a>
  <div class="card-body">
    <p class="card-text text-light text-center">Cuisine</p>
  </div>
</div>
<div class="card bg-dark m-5" style="width: 11rem;">
<a href="{{ path('craftfurninshing') }}" class="text-decoration-none">
  <img class="card-img-top" src="{{ asset('assets/metier/furnishing.png') }}" alt="Card image cap">
</a>
  <div class="card-body">
    <p class="card-text text-light text-center">Ameublement</p>
  </div>
</div>
</div>
</div>
{% endblock %}
