<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}LDO -
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

	</head>

	<body style="background:#151a21">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('assets/navicon/syndicate.png') }}" alt="LDO" height="64" width="64"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav m-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('home') }}">Home</a>
						</li>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}

						    <li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Crafters
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ path('crafter') }}">Fabrication</a>
									<a class="dropdown-item" href="{{ path('crafter_transformation') }}">Transformation</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Réunion
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ path('reunion') }}">Liste des Résumer</a>
								</div>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="{{ path('list_user') }}">Recensement</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="{{ path('absence') }}">Absence</a>
							</li>
              <li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Leveling & Info
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ path('gemme') }}">Gemmes</a>
									<a class="dropdown-item" href="{{ path('leveling_job') }}">Leveling Métiers</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Demande
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{ path('craft_request') }}">Craft</a>
									<a class="dropdown-item" href="{{ path('farm') }}">Farming</a>
								</div>
							</li>
						{% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<a class="nav-item nav-link text-light " href="{{ path('profile') }}">
								<i class="far fa-user"></i>
								Mon Compte</a>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<a class="nav-item nav-link text-light" href="{{ path('admin') }}">
								<i class="far fa-user"></i>
								Administration</a>
						{% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<li class="nav-item m-1">
								<a class="btn btn-danger" href="{{ path('logout') }}">Deconnection</a>
							</li>
						{% else %}
							<li class="nav-item m-1">
								<a class="btn btn-warning text-light" href="{{ path('app_register') }}">Inscription</a>
							</li>
							<li class="nav-item m-1">
								<a class="btn btn-success" href="{{ path('login') }}">Connexion</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col"> {% block body %}{% endblock %}
					</div>
				</div>

			</div>
		</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</html>
