{% extends 'base.html.twig' %}

{% block title %}LDO - Farming
{% endblock %}

{% block body %}
	<div class="container text-light">
		<h1 class="text-center m-5">
			<i class="fas fa-tractor"></i>
			Demande de Farm</h1>
		{{ form_start(formfarm) }}
		<div class="row">
			<div class="col">
				{{ form_row(formfarm.title) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(formfarm.details) }}
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(formfarm.quantity) }}
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<button type="submit" class="btn btn-primary btn-lg text-center">Enregistrer</button>
				{{ form_end(formfarm) }}
			</div>
		</div>
	{% endblock %}
