{% extends 'base.html.twig' %}

{% block title %}Liste des Demande de farm
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h2 class="text-light text-center mt-3">
			<i class="fas fa-tractor"></i>
			Farming Time :
		</h2>
		<h6 class="text-light text-center mt-3">
			<i class="fas fa-shipping-fast"></i>
			MaeJhin Page
			<i class="fas fa-shipping-fast"></i>
		</h6>
		{% if is_granted('ROLE_USER') %}
			<a href="{{path('farm_add')}}">
				<button type="button" class="btn btn-success">Ajouter</button>
			</a>
		{% endif %}
	</div>
		<table class="table table-dark table-hover mt-5">
			<thead>
				<tr>
					<th scope="col">Nom de la Ressource</th>
					<th scope="col">Prix Unitaire</th>
					<th scope="col">Quantité</th>
					<th scope="col">Statue</th>
					<th scope="col">Pseudo du demandeur</th>
					<th scope="col">Pseudo du Farmeur</th>
					{% if is_granted('ROLE_FARM') %}
						<th scope="col">Action</th>
						<th scope="col">Action</th>
					{% elseif is_granted('ROLE_ADMIN') %}
						<th scope="col">Action</th>
						<th scope="col">Action</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for farm in farmchecklist  %}
						<td>{{farm.title}}</td>
						<td>{{farm.details}}</td>
						<td>{{farm.quantity}}</td>
						<td>
							{% if farm.checkOrNot == 'En Cours de Récolte' %}
								<i class="fas fa-user"></i> Récolte
							{% elseif farm.checkOrNot == 'En Attente d\'échange' %}
								<i class="fas fa-people-arrows"></i> Echange
							{% else %}
							<i class="fas fa-people-arrows"></i> En Attente
							{% endif %}
						</td>
						<td>{{farm.nameUser}}</td>
						<td>{{farm.farmeur}}</td>
						{% if is_granted('ROLE_FARM') %}
							<td>
								<a href="{{path('farm_trade_refuser', { id: farm.id })}}">
									<button type="submit" class="btn btn-danger text-center text-center m-1">
										<i class="fas fa-times"></i> Refuser
									</button>
								</a>
								<a href="{{path('farm_loading', { id: farm.id })}}">
									<button type="submit" class="btn btn-success text-center">
									<i class="fas fa-user"></i>	Récolte
									</button>
								</a>
								</td>
								<td>
								<a href="{{path('farm_trade_waiting', { id: farm.id })}}">
									<button type="submit" class="btn btn-success text-center m-1">
									<i class="fas fa-people-arrows"></i> Echange
									</button>
								</a>
								<a href="{{path('farm_check', { id: farm.id })}}">
									<button type="submit" class="btn btn-success text-center">
										<i class="far fa-check-circle"></i> Fini
									</button>
								</a>
							</td>
						{% elseif is_granted('ROLE_ADMIN') %}
							<td>
								<a href="{{path('farm_trade_refuser', { id: farm.id })}}">
									<button type="submit" class="btn btn-success btn-lg text-center">
										<i class="fas fa-times"></i> Refuser
									</button>
								</a>
								<a href="{{path('farm_loading', { id: farm.id })}}">
									<button type="submit" class="btn btn-success btn-lg text-center">
									<i class="fas fa-user"></i>	Récolte
									</button>
								</a>
							</td>
							<td>
								<a href="{{path('farm_trade_waiting', { id: farm.id })}}">
									<button type="submit" class="btn btn-success btn-lg text-center">
									<i class="fas fa-people-arrows"></i> Echange
									</button>
								</a>
								<a href="{{path('farm_check', { id: farm.id })}}">
									<button type="submit" class="btn btn-success btn-lg text-center">
										<i class="far fa-check-circle"></i> Fini
									</button>
								</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	<hr class="mt-3 mb-3 p-1"/>
		<h2 class="text-light text-center mt-5">
			<i class="fas fa-archive"></i>
			Demande traitée :
		</h2>
  	<table class="table table-dark table-hover mt-5">
			<thead>
				<tr>
					<th scope="col">Nom de la Ressource</th>
					<th scope="col">Prix Unitaire</th>
					<th scope="col">Quantité</th>
					<th scope="col">Statue</th>
					<th scope="col">Pseudo du demandeur</th>
					<th scope="col">Créer le</th>
					<th scope="col">Pseudo du Farmeur</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for farm in farmnotcheck  %}
						<td>{{farm.title}}</td>
						<td>{{farm.details}}</td>
						<td>{{farm.quantity}}</td>
						<td>
							{% if farm.checkOrNot == 'Commande Refuser' %}
								<i class="fas fa-times"></i>
								Commande Refuser
							{% elseif farm.checkOrNot == 'Commande Fini' %}
								<i class="far fa-check-circle"></i>
								Commande Fini
							{% endif %}
						</td>
						<td>{{farm.nameUser}}</td>
						<td>{{farm.createdAt|date("d/m/Y")}}</td>
						<td>{{farm.farmeur}}</td>
						
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<hr class="mt-3 mb-3 p-1"/>
{% endblock %}
